{% extends 'application.html' %}
{% block title %}Вход в систему{% endblock %}
{% block contentSite %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Авторизация</h3>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                    <div class="form-group">
                        <label><a href="{% url 'password_reset' %}">Забыли пароль?</a></label>
                    </div>
                    <div class="form-group g-recaptcha "
                         data-sitekey="6Ler_p8UAAAAAAWj4ZgmYBnkNjEY2se44f9z-bYT"></div>
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Авторизация
                        </button>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary btn-block "
                           href="{% url 'authentication:registration' %}">Регистрация</a>
                    </div>
                </form>

            </div>
            <div class="col-md-8">
                {% include "mainBlock.html" %}
            </div>
        </div>
    </div>

{% endblock %}