{% extends 'application.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block contentSite %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="container">
        <h3 class="text-center">Восстановление пароля</h3>
        <small class="text-muted">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам
            инструкцию, как установить новый пароль.
        </small>
        <form method="post" id="form" onsubmit="call()">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}"
                           class="col-12 col-sm-6 col-md-5 col-lg-3 col-xl-3 col-form-label">{{ field.label }}</label>
                    <div class="col col-sm col-md col-lg col-xl">
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group"
                 style="display: flex; flex-direction: column; align-items: center;justify-content: center">
                <div class="g-recaptcha"
                     data-sitekey="6Ler_p8UAAAAAAWj4ZgmYBnkNjEY2se44f9z-bYT"></div>
                {% if not is_valid %}
                    <div class="invalid">Не пройдена RECaptcha. Повторите попытку</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}