{% extends 'application.html' %}
{% block title %} Личные данные {% endblock %}
{% block contentSite %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('select').attr('class', 'form-control')
        });


    </script>
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="page-header">
                    <h1>Личные данные
                        <i class="material-icons editData" title="Изменить" data-toggle="collapse" href="#change">edit</i>
                    </h1>
                </div>
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th scope="row">Логин</th>
                        <td id="username">{{ request.user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Фамилия</th>
                        <td id="last_name">{{ request.user.last_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Имя</th>
                        <td id="first_name">{{ request.user.first_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Отчество</th>
                        <td id="patronymic">{{ request.user.patronymic }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td id="email">{{ request.user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Являетесь администратором</th>
                        <td id="superuser">
                            {% if request.user.is_superuser %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Место работы</th>
                        <td id="work">{{ request.user.work }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <div class="col col-md-6 collapse" id="change">
             {% include "registration/changeProfile.html" %}
        </div>
        </div>
    </div>
{% endblock %}