{% extends 'application.html' %}
{% block title %} Регистрация на сайте {% endblock %}
{% block contentSite %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="container">
        {% if not request.user.is_authenticated %}
            <h3 class="text-center">Регистрация</h3>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group row">
                        <label for="{{ field.id_for_label }}"
                               class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-form-label">{{ field.label }}</label>
                        <div class="col col-sm col-md col-lg col-xl">
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group"
                     style="display: flex; flex-direction: column; align-items: center;justify-content: center">
                    <div class="g-recaptcha"
                         data-sitekey="6Ler_p8UAAAAAAWj4ZgmYBnkNjEY2se44f9z-bYT"></div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="invalid">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </form>
        {% else %}
            <h2 class="text-center">Вы уже зарегистрированы</h2>
        {% endif %}

    </div>
{% endblock %}