.logo {
    height: 28px;
}

.bg-nav {
    background-color: #2c3e50;
    border-color: transparent;
}

.navbar-brand {
    color: #ffffff;
}

.bg-nav .navbar-nav > li > a, .card-header > a {
    color: #ffffff;
}

.bg-nav .navbar-toggler {
    position: relative;
    background-image: none;
    float: right;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #1a242f;
    border-radius: .25rem;
}

.bg-nav .navbar-toggler:hover, .bg-nav .navbar-toggler:focus {
    background-color: #1a242f;
}

.bg-nav .navbar-toggler .icon-bar {
    background-color: #ffffff;
}


.bg-nav .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.bg-nav .navbar-nav > li > a:hover, .card-header > a:hover {
    color: #18bc9c;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #388E3C;
}

a {
    color: #18bc9c;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #7b8a8b;
    white-space: nowrap;
}

.navbar-header > a:hover, .navbar-header > a:focus {
    color: #18bc9c;
    background-color: transparent;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 21px;
    border: 1px solid transparent;
}

.sign {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 21px;
}

.dropdown-menu > a:hover, .dropdown-menu > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #2c3e50;
}

div h1, div .h1 {
    font-size: 39px;
}

div h3, div .h3, div h1, div .h1 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}

div h3, div .h3, div h1, div .h1 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: 400;*/
    line-height: 1.1;
    color: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container .btn-primary {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.container .btn-primary:hover {
    color: #ffffff;
    background-color: #1a242f;
    border-color: #161f29;
}

.page-header {
    text-align: left;
    padding-bottom: 9.5px;
    margin: 42px 0 21px;
    border-bottom: 1px solid transparent;
}

label > a:hover, label > a:focus {
    color: #18bc9c;
    background-color: transparent;
    text-decoration: none
}

.editData {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.editData:hover {
    color: #0056b3;
}

i {
    vertical-align: middle;
}

.card-header, .thead-dark, .breadcrumbs {
    background-color: #2c3e50;
    color: white;
}

.thead-dark a {
    color: white;
}
#changelist-filter .list-group-item {
    background-color: transparent;
    border-color: transparent
}

#changelist-filter .list-group-item.active {
    border-color: transparent;
    background-color: transparent;
    font-weight: bold;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid #ba2121;
}

ul.errorlist {
    margin: 0 0 4px;
    padding: 0;
    color: #ba2121;
    background: #fff;
}

li{
     list-style-type: none;
}

table thead th.sorted .sortoptions {
    display: block;
    padding: 9px 5px 0 5px;
    float: right;
    text-align: right;
}

table thead th.sorted .sortoptions a.sortremove {
    background-position: 0 0;
}

table thead th.sorted .sortoptions a {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(/static/admin/img/sorting-icons.svg) 0 0 no-repeat;
    background-size: 14px auto;
}

thead th.sorted a.sortremove {
    visibility: hidden;
}

table thead th.sorted .sortoptions a.sortremove {
    background-position: 0 0;
}

table thead th.sorted .sortoptions a {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(/static/admin/img/sorting-icons.svg) 0 0 no-repeat;
    background-size: 14px auto;
}