<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <script src="{% static 'js/applications.js' %}"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    {% load i18n %}
</head>
<body>
<div class="navigation">
    <nav class="navbar navbar-expand-lg bg-nav">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span class="text-nowrap hidden-xs hidden-sm hidden-md">
                        <img class="logo" src="{% static 'images/eulogo.png' %}"/>
                    ЭУ
                    </span>

                </a>


                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report:home' %}">Отчёты<span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Администрирование сайта</a>
                        </li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item dropdown navbar-right">
                            <a class="nav-link dropdown-toggle sign" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ request.user.first_name }} {{ request.user.last_name }}
                                ({{ request.user.work }})
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/">Личные данные</a>
                                <a class="dropdown-item" href="{% url 'control:faq' %}">Помощь</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                            </div>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                                Вход
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authentication:registration' %}">
                                Регистрация
                            </a>
                        </li>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/">Личные данные</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                        </div>
                    </ul>
                {% endif %}
            </div>

        </div>

    </nav>
</div>
<div class="container">
    {% block messages %}
        {% if messages %}
            <div class="card mt-4 mb-4">
                <ul class="messagelist list-group list-group-flush">
                    {% for message in messages %}
                        <li{% if message.tags %}
                            class="list-group-item text-{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    {% endblock messages %}
</div>
{% block contentSite %}{% endblock %}
<div class="container">
    <hr>
    <p>
        Разработано в качестве дипломного проекта<br/>
        МГТУ им. Н. Э. Баумана<br/>
        Информатика и системы управления<br/>
        Компьютерные системы и сети
    </p>
</div>
</body>
</html>