<h3>Главная страница</h3>
<p>
    В подсистеме размещены сведения подсистем "Текущая успеваемость" и "Сессия", полученные из
    Электронного университета МГТУ им. Н. Э. Баумана и обработаны для их дальнейшего использования
    подсистемой анализа.
</p>
<p>
    Данная подсистема позволяет в удобной форме получить информацию о текущей успеваемости или
    результатах сессии для группы или потока, а также предоставляет отчёт по успеваемости студента за
    весь период обучения.
</p>
<p>
    Вход осуществляется с помощью логина и пароля. Для получения учётных данных необходимо
    зарегистрироваться и ждать проверки учётной записи администратором.
</p>